#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.flex {
    display: flex;
    gap: 8px;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 120%; /* Adjusts the position above the button */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.submit[disabled]:hover {
    border-color: unset;
    cursor: auto;
}

.p-autocomplete-dropdown .pi {
    display: inline-block !important;
    opacity: 1 !important;
    visibility: visible !important;
    font-size: 1.2rem;
    color: black !important;
}

.p-button-icon::before {
    content: "\e933";
    font-family: 'PrimeIcons' !important;
    font-style: normal;
    color: black !important;
}

.p-autocomplete-dropdown {
    border: 1.6px solid #E1E1E1;
    border-top-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 8px;
}

.p-autocomplete-dropdown:hover {
    border: 1.6px solid black;
}

.button-section {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.entry-row {
    margin-top: 5px;
    margin-bottom: 5px;
}